**/__pycache__
**/.git
**/.github
**/.ci

# Outputs
*.jpg
*.png
*.gif
*.mp4
*.zip
*.tar
*.webp
*.webm


# Files
scripts/*
updated_weights.json
downloaded_user_models/

# Extension files
*.ipynb
*.bat


# ComfyUI/venv
!ComfyUI/custom_nodes/**
ComfyUI/temp
ComfyUI/user


# ComfyUI bits we just don't need
ComfyUI/tests
ComfyUI/tests-ui
ComfyUI/tests-unit
ComfyUI/notebooks
ComfyUI/script_examples
ComfyUI/comfyui_screenshot.png
