# ComfyUI frontend and workflow templates
comfyui-frontend-package
comfyui-workflow-templates
comfyui-embedded-docs

# PyTorch and related libraries (CUDA 12.6)
torch==2.7.1+cu126
torchvision
torchaudio==2.7.1+cu126
torchsde==0.2.6

# Core dependencies
numpy==1.25.2
einops==0.6.1
transformers>=4.37.2
tokenizers>=0.13.3
sentencepiece>=0.1.99
safetensors>=0.4.2
aiohttp>=3.11.8
yarl>=1.18.0
pyyaml==6.0
Pillow==10.1.0
scipy==1.11.3
tqdm==4.66.1
psutil==5.9.6
alembic==1.11.1
SQLAlchemy
av>=14.2.0
websockets==15.0.1
websocket-client==1.6.3
tomli
insightface
segment-anything
piexif
webcolors
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs

# Non-essential dependencies
kornia>=0.7.1
spandrel
soundfile
pydantic~=2.0
pydantic-settings~=2.0

https://gh-proxy.com/https://github.com/nunchaku-tech/nunchaku/releases/download/v1.0.0dev20250816/nunchaku-1.0.0.dev20250816+torch2.7-cp310-cp310-linux_x86_64.whl
